<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Camera App</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<!-- HTML Code -->
<body>

<div id="camera-app">
  <video id="video" autoplay></video>
  
  <!-- Control Buttons -->
  <div class="button-container">
    <!-- Upload Button -->
    <svg id="upload-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#FFFFFF" class="bi bi-file-earmark-arrow-up-fill" viewBox="0 0 14 16">
      <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M6.354 9.854a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 8.707V12.5a.5.5 0 0 1-1 0V8.707z"/>
    </svg>

    <!-- Capture Button -->
    <svg id="capture-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#FFFFFF" class="button-icon" viewBox="0 0 16 16">
      <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0"/>
    </svg>

    <!-- Gallery Button -->
    <svg id="gallery-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#FFFFFF" class="button-icon" viewBox="0 0 16 16">
      <path d="M6 1v3H1V1zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zm14 12v3h-5v-3zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1zM6 8v7H1V8zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1zm14-6v7h-5V1zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1z"/>
    </svg>
  </div>
</div>
<div id="result-container" style="margin-top: 20px; color: white;"></div>

<script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>
</html>
